REACT_APP_API_URL=https://fashion-vouge-ecommerce.onrender.com
REACT_APP_PHONEPE_NODE_URL=https://fashion-vouge-ecommerce.onrender.com/api/
REACT_APP_THEAM_COLOR=#FB641B
REACT_APP_OFFER_TIME=3600000
REACT_APP_COD=yes
REACT_APP_COUPON_APPLY=false
REACT_APP_SHOW_OFFER_BANNER=no
REACT_APP_FAM=Fashion Vogue
REACT_APP_ADDRESS=India
